/* Reset some default margin and padding for consistency */
body, h1, h2, p{
    margin: 0;
    padding: 0;
}
/* Aplying a background color to the entire page */
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
/* Styling the header content section */
header{
    background-color: #336699;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Styling the main content section */
main{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Float Example  */
#float-example{
    padding: 20px;
}

.float-left{
    float: left;
    width: 45%;
    background-color: #f2f2f2;
    padding: 10px;
    /* padding-bottom: 10px; */
    margin-left: 5%;
}

.float-right{
    float: right;
    width: 45%;
    background-color: #dcdcdc;
    padding: 10px;
}

/* position Example */
.position_example{
    padding: 10px;
}
.container{
    position: absolute;
}
.absolute-box{
    position: relative;
    left: 200px;
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Display Example */

#display-example{
    padding: 20px;
}
.inline-block{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: #f2f2f2;
    padding: 10px;
}
/* Styling the footer */
footer{
    text-align: center;
    background-color: #336699;
    color: white;
    padding: 10px;
}