/* Reset some default margin and padding for consistency */
body, h1, h2, h3, p, ul, li, a{
    margin: 0;
    padding: 0;
}
/* Aplying a background color to the entire page */
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
/* Styling the header content section */
header{
    background-color: #336699;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}
nav li{
    margin: 0 20px;
}
nav a{
    text-decoration: none;
    color: rgb(18, 4, 4);
    font-weight: bold;
    font-size: 16px;
}
/* Styling the main content section */
main{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on small screens*/
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#intro{
    flex: 1;  /*Takes up 1/3 of the available space*/
    padding: 20px;
    font-size: 18px;
}
#features{
    flex: 2; /*Takes up 2/3 of the available space*/
    padding: 20px;
}
.feature-box{
    margin: 0 20px;
    padding: 20px;
    background-color: #f2f2f2;
}
.feature-box h3{
    font-size: 20px;
}
.feature-box p{
    font-size: 16px;
}
/* Style the sidebar with flexbox */
#sidebar{
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
}
#sidebar ul {
    list-style: none;
}
#sidebar li {
  margin-bottom: 10px;
}
#sidebar a {
    text-decoration: none;
    color: #336699;
    font-weight: bold;
  }
/* Style the footer */
footer{
    text-align: center;
    background-color: #336699;
    color: white;
    padding: 10px 0;
}