/* #stylings2.css */

/*Element Selector*/
header{
    background-color: #f0f0f0;
}
button{
    background-color: #007bff;
}

h1{
    font-size: 32px;
    color: red;
}
input{
    border: 1px solid;
}
/* Class Selector */
.highlight{
    background-color: yellow;
}

/* Descendant Selector */
ul li{
    list-style: square;
    color: green;
}

/* Pseudo Selector */
a:hover{
    text-decoration: underline;
    color: red;
}
p em{
    font-style: italic;
    font-weight: bold;
}
form{
    border: 2px solid;
    padding: 20px;
}
.form_data{
    padding: 3px;
}
.table1{
    padding: 10px;
}
table{
    border-spacing: 3px;
    width: 50%;
    padding: 10px;
}
    table,th,td{
        border: 1px solid;
        border-collapse: collapse;
    }
    th, td{
        padding: 15px;
    }
    tr, th{
        text-align: center;
    }
    tr, td{
        text-align: left;
        font-weight: bold;
    }